#headerContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 10px;
}
#logo {
    width: 150px;
    height: 150px;
    padding: 5px

}
body {
    margin: 75px;
    font-size: 22px;
    background: linear-gradient(#e5e7e8, #cfefb0);

}

.firstimage {
    width: 750px;
    margin-left: 500px;
    align-items: center;
}
h1, h2, h3, h4 {
text-shadow: 0 0 1bx black;
color: blue
}
